@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Silkscreen', cursive;
}

.body-background{
  /* background: #445F3B; */
  background: lightgray;
}

.description-background{
  background: darkgray;
  /* color: #A59CD3; */
  color: black;
  font-family: 'Silkscreen', cursive;
}


.nav-background{
  /* background: #564734; */
  background: #4B2D9F;
}
.nav-background p{
  font-family: 'Silkscreen', cursive;
}

.btn-logout{
  background: transparent;
  padding: 2px 8px;
  font-family: 'Silkscreen', cursive;
  border: 2px whitesmoke solid;
  color: whitesmoke;
  border-radius: 1px;
}

.btn-login{
  background: gold;
  padding: 2px 8px;
  font-family: 'Silkscreen', cursive;
  border: 2px gold solid;
  color: black;
  border-radius: 1px;
}

.btn-signup{
  background: transparent;
  padding: 2px 8px;
  font-family: 'Silkscreen', cursive;
  border: 2px gold solid;
  color: gold;
  border-radius: 1px;
}